python-dotenv==1.0.0
pymongo[srv]
python-telegram-bot

## LLMs / embeddings
llama-index-llms-llama-api
llama-index
llama-index-vector-stores-mongodb
llama-index-embeddings-huggingface

## Utils
ipykernel
ipython
chardet==5.2.0
charset-normalizer==3.3.2
