python-dotenv==1.0.0
pymongo
python-telegram-bot

## LLMs / embeddings
llama-index-llms-llama-api
llama-index-llms-gemini
llama-index
google-generativeai
llama-index-vector-stores-mongodb
llama-index-embeddings-gemini

## Utils
ipykernel
ipython
chardet==5.2.0
charset-normalizer==3.3.2
